.formContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 522px;
}

.circlesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 905px;
}

.numberedCircle {
  display: flex;
  flex-direction: column;
  align-items: center;
}